<ul class="companies-list">
  {% for company in site.companies | where_exp: "company", "company.published != false" %}
    <li class="company-item mt-4">
      <div class="company-logo">
        <img src="{{ company.logo }}" alt="{{ company.title }} logo" class="img-fluid company-logo-img">
      </div>
      <div class="company-info">
        <h2 class="h5 mt-0"><a href="{{ company.url }}">{{ company.title }}</a></h2>
        {% if company.description %}
          <p class="company-description truncate100">{{ company.description }}</p>
        {% endif %}
        <div class="company-tags">
          {% if company.location %}
            <span class="tag location-tag">
              <i class="bi bi-geo-alt-fill"></i>
              {{ company.location.city }}
            </span>
          {% endif %}
          {% if company.culture %}
            <span class="tag culture-tag">
              <i class="bi bi-stars"></i>
                Culture data
            </span>
          {% endif %}
          {% if company.employees %}
            <span class="tag employees-tag">
              <i class="bi bi-people-fill"></i> {{ company.employees }}
            </span>
          {% endif %}
          {% if company.teletravail=='flexibile' %}
              <span class="badge badge-pill badge-light">Partial remote</span>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

