{% if site.jobs %}
  <div class="company-jobs">
    <h2>Open Positions at {{ page.title }}</h2>
    <ul class="job-listings">
      {% assign page_title_downcase = page.title | downcase %}
      {% assign company_jobs = site.jobs | where: "joboppeningcompanyname", page_title_downcase | where: "published", true %}
      {% if company_jobs.size > 0 %}
        {% for job in company_jobs %}
          <li class="job-listing">
            <h3 class="job-title"><a href="{{ job.url }}">
              {{ job.name }}
            </a></h3>
            <div class="job-meta">
              {% if job.joboppeninglocation %}
                <span class="job-location">
                  <i class="bi bi-geo-alt-fill"></i>
                  {{ job.joboppeninglocation }}
                </span>
              {% endif %}
              {% if job.jobisfulltime %}
                <span class="job-type">
                  <i class="bi bi-briefcase-fill"></i>
                  Fulltime
                </span>
              {% endif %}
              {% if job.jobisinternship %}
                <span class="job-type">
                  <i class="bi bi-briefcase-fill"></i>
                  Internship
                </span>
              {% endif %}
              {% if job.jobisparttime %}
                <span class="job-type">
                  <i class="bi bi-briefcase-fill"></i>
                  Parttime
                </span>
              {% endif %}
              
              {% if job.jobdateposted %}
                <span class="job-posted-date">
                  <i class="bi bi-calendar-event"></i>
                  Posted: {{ job.jobdateposted | date: "%B %d, %Y" }}
                </span>
              {% endif %}
            </div>
            {% if job.joboppeningshortdescription %}
              <p class="job-summary">{{ job.joboppeningshortdescription | truncate: 150 }}</p>
            {% endif %}
            <a href="{{ job.url }}" class="btn btn-sm btn-outline-primary">View Details</a>
          </li>
        {% endfor %}
      {% else %}
        <li class="no-jobs">No open positions at this time.</li>
      {% endif %}
    </ul>
  </div>
{% endif %}