
<!-- filter the jobs which are published -->
{% assign published_jobs = site.jobs | where_exp: "job", "job.published != false" %}

{% if page.filters == null %}
  {% assign filtered_jobs = published_jobs %}
{% else %}
  {% assign filtered_jobs = published_jobs | where_exp: "job", "job.job_tags contains page.filters" %}
{% endif %}

<div class="jobs-list row">
  {% if page.filters != null %} <a href="/jobs"> < Back to all jobs</a> {% endif %}
  {% if filtered_jobs.size < 1 %}
    <p class="mt-3 mb-5" style="text-align:center;">
      No {{ page.filters[0] }} jobs right now. Subscribe to get alerts.
    </p>

    {% include newsletter-form-jobs.html %}
  {% endif %}
  {% for job in filtered_jobs %}
  <div class="job-item col-md-6 mt-3">
    <div class="job-info">
      <h2 class="h5 mt-0"><a href="{{ job.url }}">
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ page.name }}
        {% endif %}
      </a></h2>
      <h3 class="h6 company-name">{{ job.companyname }}</h3>
      {% if job.description %}
        <p class="job-description truncate100">{{ job.joboppeningshortdescription | truncate: 100 }}</p>
      {% endif %}
      <div class="job-tags">
        {% if job.joboppeninglocation %}
          <span class="tag location-tag">
            <i class="bi bi-geo-alt-fill"></i>
            {{ job.location.city }}, {{ job.location.type }}
          </span>
        {% endif %}
        {% if job.position_type %}
          <span class="tag job-type-tag">
            <i class="bi bi-briefcase-fill"></i>
            {{ job.position_type }}
          </span>
        {% endif %}
        {% if job.salary_range %}
          <span class="tag salary-tag">
            <i class="bi bi-cash"></i>
            {{ job.salary_range }}
          </span>
        {% endif %}
        {% if job.joboppeningsearchtags %}
          {% for tag in job.joboppeningsearchtags %}
            <span class="badge text-bg-light">
              #{{ tag" }}
            </span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>