<form 
  action="https://github.us19.list-manage.com/subscribe/post?u=95e0b632b961a00432e51f68e&amp;id=1fe316525b&amp;f_id=00d1c2e1f0" 
  method="post" 
  id="mc-embedded-subscribe-form" 
  name="mc-embedded-subscribe-form" 
  class="validate" 
  target="_blank">
  <div id="mc_embed_signup_scroll">
    <div class="indicates-required">
      <span class="asterisk">*</span> indicates required
    </div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">
        Email Address <span class="asterisk">*</span>
      </label>
      <input 
        type="email" 
        name="EMAIL" 
        class="required email" 
        id="mce-EMAIL" 
        required="" 
        value="">
    </div>
    <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none;"></div>
        <div class="response" id="mce-success-response" style="display: none;"></div>
    </div>
    <div 
      style="position: absolute; left: -5000px;" 
      aria-hidden="true">
        <input type="text" 
          name="b_95e0b632b961a00432e51f68e_1fe316525b" 
          tabindex="-1" value="">
    </div>
    <div class="optionalParent">
      <div class="clear foot">
        <input 
          type="submit" 
          name="subscribe" 
          id="mc-embedded-subscribe" 
          class="button" 
          value="Get job alerts">
      </div>
    </div>
  </div>
</form>
