---
layout: default
---

<div id="main" role="main">
  
</div>


<div class="archive">

    <article class="company">

    <div class="d-flex mt-3">
      <div class="company-info">
        <h1>{{ page.title }}</h1>
        <!-- URL to the website -->
        <p>
          <i class="bi bi-link-45deg"></i>  
          <a href="{{ page.company_url }}">{{ page.company_url }}</a>
        </p>
      </div>
      <div class="company-logo">
        <img src="{{ page.logo }}" alt="{{ page.title }} logo" class="img-fluid company-logo-img">
      </div>
    </div>

    {% if page.location %}
      <span class="company-location ">
        <i class="bi bi-geo-alt-fill"></i>
        {{ page.location.city }}
      </span>
    {% endif %}
    {% if page.employees %}
      <span class="company-employees">
        <i class="bi bi-people-fill"></i>
        {{ page.employees }}
      </span>
    {% endif %}
    {% if page.founded_in %}
      <span class="company-founded_in ">
        <i class="bi bi-align-start"></i>
        {{ page.founded_in }}
      </span>
    {% endif %}

    <div class="">
      <h2 class="card-title">About {{ page.title }}</h2>
      
        <div class="card-text">
          {% if page.description %}
            <p class="company-description">{{ page.description }}</p>
          {% endif %}

          
          {% if page.mission %}
            <h3 class="card-title">Mission</h3>
            <p class="company-mission">{{ page.mission }}</p>
          {% endif %}
          {% if page.vision %}
            <h3 class="card-title">Vision</h3>
            <p class="company-vision">{{ page.vision }}</p>
          {% endif %}
          {% if page.values %}
            <h3 class="card-title">Values</h3>
            <p class="company-values">{{ page.values }}</p>
          {% endif %}
          {% if page.culture %}
            <h3 class="card-title">Culture</h3>
            <p class="company-culture">{{ page.culture }}</p>
          {% endif %}
  
          
        </div>
    </div>
  
    <div class="">
      <h2>International</h2>
      <div class="card-content">
        
        
        {% if page.international.language_policy_french %}
          <p>French language policy: {{ page.international.language_policy_french }}</p>
        {% endif %}

        {% if page.international.language_policy_english %}
          <p>English language policy: {{ page.international.language_policy_english }}</p>
        {% endif %}
        
        {% if page.international.relocation_support == true %}
          <p>Relocation Support is offered</p>
        {% endif %}
  
      </div>
    </div>
  
  
    <div class="card-text">
      <h2>{{ page.title }} Tags</h2>
  
      
      <div class="">
        {% if page.company_tags.main %}
          {% for tag_main in page.company_tags.main | split: ", " %}
            <span class="badge text-bg-light">{{ tag_main }}</span>
          {% endfor%}
        {% endif %}

        {% if page.company_tags.other %}
          {% for tag_other in page.company_tags.other | split: ", " %}
            <p class="company-tag badge">{{ tag_other }}</p>
          {% endfor%}
        {% endif %}

        
        {% for tag_item in page.tags %}
          {% for tag in tag_item %}
            
              <p>{{ tag[1].name }}:  {{ tag[1].value }}</p>
           
          {% endfor %}
        {% endfor %}
        
      </div>
    </div>
  
    <div class="">
      <h2>Work</h2>
      <div class="card-content">
        <ul>
          {% for perk_item in page.perks %}
            {% if perk_item.value != false %}
              {% if perk_item.value == true %}
                <li>{{ perk_item.name }}</li>
              {% else %}
                <li>{{ perk_item.value }} {{ perk_item.name }}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  
    <div class="">
      <h2>Perks</h2>
      <div class="card-content">
        <ul>
          {% for perk_item in page.perks %}
            {% if perk_item.value != false %}
              {% if perk_item.value == true %}
                <li>{{ perk_item.name }}</li>
              {% else %}
                <li>{{ perk_item.value }} {{ perk_item.name }}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  
    <div class="company-content">
      {{ content }}
    </div>
  </div>
</article>