---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">

  <div class="container-fluid py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="mb-4 ">Software Developer Jobs in Provence-Alpes-Côte d'Azur (PACA)</h1>
          <p class="lead mb-4">273 hand-picked jobs in Japan for software developers & tech folks.</p>
          <p class="mb-4 d-none d-lg-inline-block">No French required. Top companies only.</p>
          <div class="mb-4 d-none d-lg-inline-block">
            <button class="btn btn-light btn-lg me-2 mb-2">Get weekly email job alerts</button>
            <button class="btn btn-outline-light btn-lg mb-2">Join 35k readers</button>
          </div>
          <p class="mt-4 d-none d-lg-inline-block ">
            <i class="bi bi-arrow-up-circle-fill"></i> Get our Developer Salary Guide free
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <button type="button" class="btn btn-primary">No French required</button>
    <button type="button" class="btn btn-primary">Remote Jobs</button>
    <button type="button" class="btn btn-primary">CDI (full time)</button>
  </div>

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}
    
    

    {{ content }}

    <ul class="companies-list">
      {% for company in site.companies | where_exp: "company", "company.published != false" %}
        <li class="company-item">
          <div class="company-logo">
            <img src="{{ company.logo }}" alt="{{ company.title }} logo" class="img-fluid company-logo-img">
          </div>
          <div class="company-info">
            <h2 class="h5 mt-0"><a href="{{ company.url }}">{{ company.title }}</a></h2>
            {% if company.description %}
              <p class="company-description truncate100">{{ company.description }}</p>
            {% endif %}
            <div class="company-tags">
              {% if company.location %}
                <span class="tag location-tag">
                  <i class="bi bi-pin-fill"></i>
                  {{ company.location.city }}
                </span>
              {% endif %}
              {% if company.culture %}
                <span class="tag culture-tag">
                  <i class="bi bi-stars"></i>
                    Culture data
                </span>
              {% endif %}
              {% if company.employees %}
                <span class="tag employees-tag">
                  <i class="bi bi-people-fill"></i> {{ company.employees }}
                </span>
              {% endif %}
              {% if company.teletravail=='flexibile' %}
                  <span class="badge badge-pill badge-light">Partial remote</span>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
