---
layout: default
---

<div class="archive">
    <article class="job">
        <div class="d-flex mt-3">
        <div class="job-info">
            <h1>{{ page.title }}</h1>
            <p>
                <i class="bi bi-building"></i>
                <a href="/companies/company-{{ page.company | downcase }}">{{ page.company }}</a>
            </p>
        </div>
        </div>

        <div class="job-meta">
        <span class="job-location">
            <i class="bi bi-geo-alt-fill"></i>
            {{ page.location.city }}, {{ page.location.type }}
        </span>
        <span class="job-type">
            <i class="bi bi-briefcase-fill"></i>
            {{ page.position_type }} ({{ page.contract_type }})
        </span>
        <span class="job-salary">
            <i class="bi bi-cash"></i>
            {{ page.salary_range }}
        </span>
        <span class="job-posted">
            <i class="bi bi-calendar-event"></i>
            Posted: {{ page.date_posted | date: "%B %d, %Y" }}
        </span>
        <span class="job-expires">
            <i class="bi bi-calendar-x"></i>
            Expires: {{ page.expiration_date | date: "%B %d, %Y" }}
        </span>
        </div>

        <div class="job-description">
            <h2>Job Description</h2>
            <p>{{ page.description }}</p>
        </div>

        <div class="job-responsibilities">
            <h2>Responsibilities</h2>
            <ul>
                {% for responsibility in page.responsibilities %}
                <li>{{ responsibility }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="job-requirements">
            <h2>Requirements</h2>
            <ul>
                {% for requirement in page.requirements %}
                <li>{{ requirement }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if page.nice_to_have %}
        <div class="job-nice-to-have">
            <h2>Nice to Have</h2>
            <ul>
            {% for item in page.nice_to_have %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="job-benefits">
            <h2>Benefits</h2>
            <ul>
                {% for benefit in page.benefits %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="job-how-to-apply">
            <h2>How to Apply</h2>
            <p>{{ page.how_to_apply }}</p>
            <a href="{{ page.application_url }}" class="btn btn-primary" target="_blank">Apply Now</a>
        </div>

        <div class="job-tags">
            <h2>Tags</h2>
            {% for tag in page.job_tags %}
                <span class="badge text-bg-light">{{ tag }}</span>
            {% endfor %}
        </div>

        <div class="job-content">
            {{ content }}
        </div>
    </article>
</div>
