---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!-- intercept the filter for the jobs -->
{% assign job_filter = page.url | split: '/' | last %}
{% assign filtered_jobs = site.jobs | where_exp: "job", "job.job_tags contains page.filters" %}

<div id="main" role="main">
  <div class="mt-4 mb-4">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

    {% include jobs.html %}

  </div>
</div>

