---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="mt-4 mb-4">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}

    {{ content }}


    <ul class="jobs-list">
      {% assign published_jobs = site.jobs | where_exp: "job", "job.published != false" %}
        {% if published_jobs.size < 1 %}
          <p>No jobs yet. <a href="/newsletter">subscribe</a> to get alerts</p>
        {% endif %}
        {% for job in published_jobs %}
        <li class="job-item">
          <div class="job-info">
            <h2 class="h5 mt-0"><a href="{{ job.url }}">{{ job.title }}</a></h2>
            <h3 class="h6 company-name">{{ job.company }}</h3>
            {% if job.description %}
              <p class="job-description truncate100">{{ job.description | truncate: 150 }}</p>
            {% endif %}
            <div class="job-tags">
              {% if job.location %}
                <span class="tag location-tag">
                  <i class="bi bi-geo-alt-fill"></i>
                  {{ job.location.city }}, {{ job.location.type }}
                </span>
              {% endif %}
              {% if job.position_type %}
                <span class="tag job-type-tag">
                  <i class="bi bi-briefcase-fill"></i>
                  {{ job.position_type }}
                </span>
              {% endif %}
              {% if job.salary_range %}
                <span class="tag salary-tag">
                  <i class="bi bi-cash"></i>
                  {{ job.salary_range }}
                </span>
              {% endif %}
              {% if job.job_tags %}
                {% for tag in job.job_tags %}
                  <span class="tag date-posted-tag">
                    #{{ tag" }}
                  </span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

