---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}
    
    {{ content }}

    <ul class="companies-list">
      {% for company in site.companies %}
        <li class="d-flex flex-row">
      
          <img src="{{ company.logo }}" alt="{{ company.title }} logo" class="img-fluid company-logo-img " style="width: 80px; height: 80px;">
         
          <div class="company-info flex-fill ml-3">
            <h2 class="h5 mt-0"><a href="{{ company.url }}">{{ company.title }}</a></h2>
            {% if company.description %}
              <p class=".truncate100">{{ company.description }}</p>
            {% endif %}
            <div class="company-tags mt-2">
              {% if company.location %}
                <span class="badge badge-info mr-1">
                  🌍 <!-- Emoji for location -->
                  {{ company.location.city }}
                </span>
              {% endif %}
              {% if company.culture %}
                <span class="badge badge-success mr-1">
                  ⭐ <!-- Emoji for culture -->  
                  Culture data
                </span>
              {% endif %}
            </div>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>
</div>