---
layout: default
---

<h3 class="archive__subtitle">Are You Looking for a Tech Job in PACA region?</h3>


<p>Get job alerts from companies that value you.</p>

<form id="newsletterForm" class="row g-2" style="background-color: transparent;">
  <div class="col-auto">
    <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
    <small id="formMessage" class="form-text text-muted"></small>
  </div>
  <div class="col-auto">
    <button onclick="handle_submit()" class="btn btn-primary">Get job alerts</button>
  </div>
</form>

