---
layout: default
---

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "JobPosting",
      "title": "{{ page.title }}",
      "description": "{{ page.description | strip_html | truncate: 500 }}",
      "datePosted": "{{ page.date_posted | date: '%Y-%m-%d' }}",
      "validThrough": "{{ page.expiration_date | date: '%Y-%m-%d' }}",
      "employmentType": "{{ page.contract_type }}",
      "hiringOrganization": {
        "@type": "Organization",
        "name": "{{ page.company }}",
        "sameAs": "{{ site.url }}/companies/company-{{ page.company | downcase }}"
      },
      "jobLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ page.location.city }}",
          "addressRegion": "{{ page.location.type }}"
        }
      }
    }
</script>

<script type="application/ld+json">
    {
      "jobLocationType": "TELECOMMUTE"
    }
    </script>

<div class="">
    <article class="job">
        <div class="d-flex mt-3">
            <div class="job-info">
                <h1>{{ page.name }}</h1>
                <p>
                    <i class="bi bi-building"></i>
                    <a href="/companies/company-{{ page.companyname | downcase }}">{{ page.companyname }}</a>
                </p>

                <div class="job-tags mt-2 mb-4">
                    {% for tag in page.softwaredevelopertags %}
                        <span class="badge text-bg-light">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="job-meta">
        <span class="job-location me-3">
            <i class="bi bi-geo-alt-fill"></i>
            {{ page.joboppeninglocation }}
        </span>
        
        <span class="job-type me-3">
            <i class="bi bi-briefcase-fill"></i>
            {% if page.jobisfulltime %}
                Fulltime
            {% endif %}
            {% if page.jobisinternship %}
                Internship
            {% endif %}
            {% if page.jobisinternship %}
                Part time
            {% endif %}
        </span>

         <span class="job-posted me-3">
            <i class="bi bi-calendar-event"></i>
            Posted: {{ page.jobdateposted | date: "%Y-%B-%d" }}
        </span>
        
        </div>

        <div class="container mt-3 mb-3">
            <div class="row">

                {{% if page.conditions %}}
                <div class="col-sm">
                    <p class="fw-bold">
                        <i class="bi bi-bar-chart-fill"></i>
                        Conditions</p>
                    <ul class="list-unstyled">
                        {% for condition in page.conditions %}
                            <li>{{ condition.label }} {{ condition.value }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {{% endif%}}
                
                
                {{% if page.jobspokenlanguages %}}
                <div class="col-sm">
                    <p class="fw-bold">
                        <i class="bi bi-bar-globe"></i>
                        Language</p>
                        <ul class="list-unstyled">
                            {% for lang in page.jobspokenlanguages %}
                                <li>{{ lang }}</li>
                            {% endfor %}
                        
                        </ul>
                    </div>
                
                {{% endif%}}
                {{% if page.jobexperiencelevel %}}
                <div class="col-sm">
                    <p class="fw-bold">
                        <i class="bi bi-bar-chart-fill"></i>
                        Experience</p>
                        Minimum level: {{ page.jobexperiencelevel }}
                </div>
                {{% endif%}}
            </div>
        </div>

        <div class="job-description">
            <h2>Job Description</h2>
            <p>{{ page.joboppeningshortdescription }}</p>
        </div>

        <div class="job-responsibilities">
            <h2>Responsibilities</h2>
            <ul>
                {% for responsibility in page.jobresponsibilities %}
                <li>{{ responsibility }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="job-description">
            <h2>Job Description</h2>
            <p>{{ page.joboppninglongdescription }}</p>
        </div>

        <div class="job-qualifications">
            <h2>Qualifications</h2>
            <ul>
                {% for requirement in page.jobskillrequirements %}
                <li>{{ requirement }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if page.jobworkconditions %}
        <div class="job-nice-to-have">
            <h2>Work conditions</h2>
            <ul>
            {% for item in page.jobworkconditions %}
                <li>{{ item }}</li>
            {% endfor %}
                
                {{% if page.jobisonsite %}} <li> on-site </li> {{% endif %}}
                {{% if page.jobishybridonsite %}} <li> hybrid </li> {{% endif %}}
                {{% if page.jobisremote %}} <li> remote </li> {{% endif %}}
            </ul>
        </div>
        {% endif %}

        {% if page.jobdevelopertechnologies %}
        {% if page.jobdevelopertechnologies.size > 1 %}
        <div class="job-nice-to-have">
            <h2>Technologies used</h2>
            <ul>
            {% for item in page.jobdevelopertechnologies %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}

        {% if page.jobprogramminglanguages %}
        {% if page.jobprogramminglanguages.size > 1 %}
        <div class="job-nice-to-have">
            <h2>Programming languages</h2>
            <ul>
            {% for item in page.jobprogramminglanguages %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}

        {% if page.jobdevelopertools %}
        {% if page.jobdevelopertools.size > 1 %}
        <div class="job-nice-to-have">
            <h2>Tools used</h2>
            <ul>
            {% for item in page.jobdevelopertools %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}


        {% if page.jobnicetohaves %}
        {% if page.jobnicetohaves.size > 1 %}
        <div class="job-nice-to-have">
            <h2>Nice to Have</h2>
            <ul>
            {% for item in page.jobnicetohaves %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}

        {% if page.doesjobincludetraveling %}
        <div class="job-nice-to-have">
            <h2>This job may include traveling</h2>
        </div>
        {% endif %}


        
        <div class="job-salary">
            <h2>Salary</h2>
            {% if page.salary_range %}
                <p>{{ page.salary_range }}</p>
            {% else %}
                <p>Not provided</p>
            {% endif %}
        </div>

        <div class="job-application">
            <h2>How to Apply</h2>
            <p>{{ page.applicationprocessandcontact }}</p>
            {% if page.expiration_date %}
                <p>Application Deadline: {{ page.expiration_date | date: "%Y-%B-%d " }}</p>
            {% endif %}
            <a href="{{ page.joboppeningurl }}" class="btn btn-primary" target="_blank">Apply Now</a>
        </div>


        <div class="job-content mt-3">

            {% assign company = site.companies | where: "title", page.companyname | first %}

            {% if company %}
                <h2>About {{ company.title }}</h2>
                {{ company.content | markdownify }}
                <p>
                    {{ company.joboppeningshortdescription }}
                </p>

                <p>
                    {{ company.joboppninglongdescription }}
                </p>
            {% endif %}

            <p>
                For more details about {{page.companyname}} culture, benefits, and work environment, please visit 
                <a href="/companies/company-{{ page.companyname | downcase }}/">{{ page.companyname }}</a>.
            </p>

            
            {{ content }}
        </div>
    </article>
</div>
